*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    transition: all 0.3s ease;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 0.5s ease;
    width: 100vw;
    height: auto;
}

/* stylo pergunta 1 */

.title{
    text-align:center;
}
.btn{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:2rem;
}
.btn button{
    width:13rem;
    height:50px;
    color:white;
    background-color:#13AE50;
    border:none;
    border-radius:20px;
    font-size:20px;
    cursor: pointer;
    font-weight:700;
    transition-duration:0.4s;
    display:flex;
    align-items:center;
    justify-content:center;
}
.btn button:hover{
    background-color:#02A606;
}
.btn button[id="submitback"]{
    width:13rem;
    height:50px;
    color:#515151;
    background-color:#DADADA;
    border:none;
    border-radius:20px;
    font-size:20px;
    color:#333333;
    text-decoration:none;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration:0.4s;
}
.btn button[id="submitback"]:hover{
    background-color:#A7A9AC;
}
textarea[placeholder]{
    font-size:20px;
    padding:5px;
}
textarea{
    border-color:grey;
}
/* =============================================== */
.box1{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
/* pergunta 2  */
.box2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 0.5s ease;
    margin-bottom: 3rem;
    margin-top: 3rem;

}
.box3{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 0.5s ease;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.box4{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 0.5s ease;
    margin-bottom: 3rem;
    margin-top: 3rem;

}
.box5{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:all 0.5s ease;
    margin-bottom: 3rem;
    margin-top: 3rem;


}
.campos{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top: 3rem;

}
.finalform{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top: 6rem;

}
.finalform input{
    width: 20rem;
    height: 60px;
}