*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container1{
width:100%;
height: 100vh;
background-image: url(./img/background.png);
background-repeat: no-repeat;
background-size:110%;
display:flex;
justify-content:center;
align-items:center;

}
.login{
width:50rem;
height:400px;
background-color:rgba(44, 44, 44, 0.575);
display: flex;
flex-direction: row;
}
.logo{
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.campos{
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.campos h1{
    color: white;
    font-size: 40px;
}
.campos input{
    outline: none;
    width: 15rem;
    height: 50px;
    background: transparent;
    border: 1px solid grey;
    padding: 5px;
    color:white;
    font-size: 12px;
}
.label{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 859px;
    transition: all 0.3s ease;
}
.campos input:focus ~ label{
    transform: translateY(-30px);
}